body{
	background: #ffffe5;
	margin: 0px auto;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.75em;
	font-size: 1.0em;
	width: 100%;
	color: silver;
}

img { 
	max-width: 100%;
}

a{
	color: #cc0052;
	text-decoration: none;
}

h1 {
	color: #fff;
}

h2, h3, h4, h5, h6{
	font-weight: 300;
	color: #000;
}	

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: inherit;
	text-decoration: none;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong{
	color: #333;
}